<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!-- 配置dataSource -->
	<bean name="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="jdbcUrl" value="jdbc:mysql:///ssh_forum?serverTimezone=UTC"></property>
		<property name="driverClass" value="com.mysql.cj.jdbc.Driver"></property>
		<property name="user" value="root"></property>
		<property name="password" value="123456"></property>
	</bean>
	
	<!-- 配置sessionFactory -->
	<bean name="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<!-- 配置dataSource -->
		<property name="dataSource" ref="dataSource"></property>
		<!-- 配置基本属性 -->
		<property name="hibernateProperties">
			<props>
				<!-- 方言 -->
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</prop>
				<!-- 是否生成sql语句 -->
				<prop key="hibernate.show_sql">true</prop>
				<!-- 是否格式化sql语句 -->
				<prop key="hibernate.format_sql">true</prop>
				<!-- 生成表策略 -->
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<!-- 与当前线程绑定是必须要删掉的 -->
			</props>
		</property>
		<!-- 读取orm元数据，会自动扫描该包下的所有配置文件 -->
		<property name="mappingDirectoryLocations" value="classpath:com/domain"></property>
	</bean>
	
	<!-- 配置事务 -->
	<!-- 事务的核心管理器，依赖于连接池 -->
	<bean name="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<!-- 配置事务的通知 -->
	<tx:advice id="advice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="*"/>
		</tx:attributes>
	 </tx:advice>	
		
	<!-- 织入 -->
	<aop:config>
		<!-- 配置切入点 -->
		<aop:pointcut expression="execution(* com.service.*.*(..))" id="pointcut"/>
		<!-- 配置切面 -->
		<aop:advisor advice-ref="advice" pointcut-ref="pointcut"/>
	</aop:config>

	<!-- 配置userAction -->
	<bean name="userAction" class="com.web.UserAction" scope="prototype">
		<!-- 注入userService -->
		<property name="userService" ref="userService"></property>
	</bean>
	<bean name="pasteAction" class="com.web.PasteAction" scope="prototype">
		<property name="pasteService" ref="pasteService"></property>
		<property name="answerService" ref="answerService"></property>
	</bean>
	<bean name="getDataAction" class="com.web.GetDataAction" scope="prototype">
		<property name="pasteService" ref="pasteService"></property>
		<property name="userService" ref="userService"></property>
	</bean>
	<bean name="answerAction" class="com.web.AnswerAction" scope="prototype">
		<property name="answerService" ref="answerService"></property>
		<property name="pasteService" ref="pasteService"></property>
	</bean>
	<bean name="praiseAction" class="com.web.PraiseAction" scope="prototype">
		<property name="answerService" ref="answerService"></property>
		<property name="praiseService" ref="praiseService"></property>
	</bean>
	
	<!-- 配置userService -->
	<bean name="userService" class="com.service.UserService">
		<!-- 注入userDao -->
		<property name="userDao" ref="userDao"></property>
	</bean>
	<bean name="pasteService" class="com.service.PasteService">
		<property name="pasteDao" ref="pasteDao"></property>
		<property name="answerDao" ref="answerDao"></property>
		<property name="userDao" ref="userDao"></property>
	</bean>
	<bean name="answerService" class="com.service.AnswerService">
		<property name="answerDao" ref="answerDao"></property>
		<property name="pasteDao" ref="pasteDao"></property>
	</bean>
	<bean name="praiseService" class="com.service.PraiseService">
		<property name="praiseDao" ref="praiseDao"></property>
	</bean>
	
	<!-- 配置userDao -->
	<bean name="userDao" class="com.dao.UserDao">
		<!-- 注入sessionFactory(用到了HibernateDaoSupport) -->
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean name="pasteDao" class="com.dao.PasteDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean name="answerDao" class="com.dao.AnswerDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean name="praiseDao" class="com.dao.PraiseDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
</beans>